{#
Copyright 2016 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% set REGION = properties["zone"][:properties["zone"].rfind("-")] %}

resources:
- name: {{ env["name"] }}
  type: container_instance_template.jinja
  properties:
    port: {{ properties["port"] }}
    dockerEnv: {{ properties['dockerEnv'] }}
    dockerImage: {{ properties["dockerImage"] }}
    containerImage: {{ properties['containerImage'] }}

- name: {{ env["name"] }}-igm
  type: compute.v1.instanceGroupManager
  properties:
    zone: {{ properties['zone'] }}
    targetSize: {{ properties['size'] }}
    targetPools:
      - $(ref.{{ env["name"] }}-tp.selfLink)
    baseInstanceName: {{ env["name"] }}-instance
    instanceTemplate: $(ref.{{ env["name"] }}-it.selfLink)

- name: {{ env["name"] }}-as
  type: compute.v1.autoscaler
  properties:
    zone: {{ properties['zone'] }}
    target: $(ref.{{ env['name'] }}-igm.selfLink)
    autoscalingPolicy:
      maxNumReplicas: {{ properties['maxSize'] }}

- name: {{ env["name"] }}-hc
  type: compute.v1.httpHealthCheck
  properties:
    port: {{ properties['port'] }}
    requestPath: /_ah/health

- name: {{ env["name"] }}-tp
  type: compute.v1.targetPool
  properties:
    region: {{ REGION }}
    healthChecks:
      - $(ref.{{ env["name"] }}-hc.selfLink)

- name: {{ env["name"] }}-lb
  type: compute.v1.forwardingRule
  properties:
    region: {{ REGION }}
    portRange: {{ properties['port'] }}
    target: $(ref.{{ env["name"] }}-tp.selfLink)
