{% set NETWORK = env["deployment"] + "-network" %}
{% set TARGET_VPN_GATEWAY = env["deployment"] + "-tvpng" %}
{% set STATIC_IP = env["deployment"] + "-ip" %}
{% set ESP_RULE = env["deployment"] + "-esp-rule" %}
{% set UDP_500_RULE = env["deployment"] + "-udp-500-rule" %}
{% set UDP_4500_RULE = env["deployment"] + "-udp-4500-rule" %}
{% set ROUTER = env["deployment"] + "-router" %}
{% set VPN_TUNNEL = env["deployment"] + "-vpn" %}
{% set ROUTER_VPN_BINDING = env["deployment"] + "-router-vpn-binding" %}

resources:
- name: {{ NETWORK }}
  type: compute.v1.network
  properties: {}
- name: {{ TARGET_VPN_GATEWAY }}
  type: compute.v1.targetVpnGateway
  properties:
    network: $(ref.{{ NETWORK }}.selfLink)
    region: {{ properties["region"] }}
- name: {{ STATIC_IP }}
  type: compute.v1.address
  properties:
    region: {{ properties["region"] }}
- name: {{ ESP_RULE }}
  type: compute.v1.forwardingRule
  properties:
    IPAddress: $(ref.{{ STATIC_IP }}.address)
    IPProtocol: ESP
    region: {{ properties["region"] }}
    target: $(ref.{{ TARGET_VPN_GATEWAY }}.selfLink)
- name: {{ UDP_4500_RULE }}
  type: compute.v1.forwardingRule
  properties:
    IPAddress: $(ref.{{ STATIC_IP }}.address)
    IPProtocol: UDP
    portRange: 4500
    region: {{ properties["region"] }}
    target: $(ref.{{ TARGET_VPN_GATEWAY }}.selfLink)
- name: {{ UDP_500_RULE }}
  type: compute.v1.forwardingRule
  properties:
    IPAddress: $(ref.{{ STATIC_IP }}.address)
    IPProtocol: UDP
    portRange: 500
    region: {{ properties["region"] }}
    target: $(ref.{{ TARGET_VPN_GATEWAY }}.selfLink)
- name: {{ ROUTER }}
  type: compute.v1.router
  properties:
    asn: {{ properties["asn"] }}
    network: $(ref.{{ NETWORK }}.selfLink)
    region: {{ properties["region"] }}
- name: {{ VPN_TUNNEL }}
  type: compute.v1.vpnTunnel
  properties:
    description: A vpn tunnel
    ikeVersion: 2
    peerIp: {{ properties["peerAddress"] }}
    region: {{ properties["region"] }}
    router: $(ref.{{ ROUTER }}.selfLink)
    sharedSecret: {{ properties["sharedSecret"] }}
    targetVpnGateway: $(ref.{{ TARGET_VPN_GATEWAY }}.selfLink)
  metadata:
    dependsOn:
    - {{ ESP_RULE }}
    - {{ UDP_500_RULE }}
    - {{ UDP_4500_RULE }}

