# [START dm_custom_type_provider]
{% set RC_TYPE_PROVIDER = env['project'] + '/tasks-type-provider:/todos/{id}' %}

resources:
# [START dm_custom_type_provider_declaration]
- name: tasks-type-provider
  type: deploymentmanager.v2beta.typeProvider
  properties:
    descriptorUrl: {{ properties["swagger_url"] }}
    options:
    # [START dm_custom_type_provider_inputmapping]
      inputMappings:
      - fieldName: id
        location: PATH
        methodMatch: ^(GET|DELETE|PUT|POST)$
        value: $.resource.properties.id

      - fieldName: X-API-KEY
        location: HEADER
        value: >
          $.concat("{{ properties["API_KEY"] }}")
    # [END dm_custom_type_provider_inputmapping]
# [END dm_custom_type_provider_declaration]

- name: add-task
  action: {{ RC_TYPE_PROVIDER }}
  metadata:
    runtimePolicy:
    - CREATE
    dependsOn:
    - tasks-type-provider
  properties:
    task: {{ properties["task"] }}
    id: {{ properties["id"] }}

- name: delete-task
  action: {{ RC_TYPE_PROVIDER }}
  metadata:
    runtimePolicy:
    - DELETE
    dependsOn:
    - tasks-type-provider
  properties:
    id: {{ properties["id"] }}

# [START dm_custom_type_provider_outputs]
outputs:
- name: taskID
  value: $(ref.add-task.id)
- name: task
  value: $(ref.add-task.task)
# [END dm_custom_type_provider_outputs]
# [END dm_custom_type_provider]
