{#
Copyright 2016 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

resources:
{% for replica in range(0, properties["minionCount"]) %}
- type: compute.v1.instance
  name: {{ env["deployment"] + "-" + env["name"] + "-" + replica|string }}
  properties:
    zone: {{ properties["zone"] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/f1-micro
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-9
    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
    tags:
      items:
      - http-server
    metadata:
      items:
      - key: startup-script
        value: |
          #! /bin/bash
          sudo echo 'deb http://debian.saltstack.com/debian jessie-saltstack main' >> /etc/apt/sources.list
          sudo wget -q -O- http://debian.saltstack.com/debian-salt-team-joehealy.gpg.key | sudo apt-key add -
          sudo apt-get update
          sudo apt-get -y install salt-minion
          sudo sed -i 's/#master: salt/master: {{ properties["master"] }}/' /etc/salt/minion
          sudo salt-minion -l debug
{% endfor %}
