{#
Copyright 2016 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

resources:
  - name: {{ env["name"] }}
    type: container_instance_template.jinja
    properties:
      port: {{ properties["port"] }}
      dockerEnv: {{ properties["dockerEnv"] }}
      dockerImage: {{ properties["dockerImage"] }}
      containerImage: {{ properties["containerImage"] }}

  - name: {{ env["name"] }}-pri
    type: autoscaled_group.jinja
    properties:
      zone: {{ properties["primaryZone"] }}
      size: {{ properties["primarySize"] }}
      maxSize: {{ properties["maxSize"] }}
      port: {{ properties["port"] }}
      service: {{ properties["service"] }}
      baseInstanceName: {{ env["name"] }}-instance
      instanceTemplate: $(ref.{{ env["name"] }}-it.selfLink)

  - name: {{ env["name"] }}-sec
    type: autoscaled_group.jinja
    properties:
      zone: {{ properties["secondaryZone"] }}
      size: {{ properties["secondarySize"] }}
      maxSize: {{ properties["maxSize"] }}
      port: {{ properties["port"] }}
      service: {{ properties["service"] }}
      baseInstanceName: {{ env["name"] }}-instance
      instanceTemplate: $(ref.{{ env["name"] }}-it.selfLink)

  - name: {{ env["name"] }}-hc
    type: compute.v1.httpHealthCheck
    properties:
      port: {{ properties["port"] }}
      requestPath: /_ah/health

  - name: {{ env["name"] }}-bes
    type: compute.v1.backendService
    properties:
      port: {{ properties["port"] }}
      portName: {{ properties["service"] }}
      backends:
        - name: {{ env["name"] }}-primary
          group: $(ref.{{ env["name"] }}-pri-igm.instanceGroup)
        - name: {{ env["name"] }}-secondary
          group: $(ref.{{ env["name"] }}-sec-igm.instanceGroup)
      healthChecks: [ $(ref.{{ env["name"] }}-hc.selfLink) ]
