{#
  20180828 - ohammami <osm.hammami@gmail.com>
  version 0.1
#}

{% set ID = env['name'] %}

resources:
- name: {{ ID }}-bucket
  type: storage.v1.bucket
  properties:
    location: {{ properties['region'] }}
    kind: storage#bucket
    storageClass: {{ properties['storageClass'] }}
    versioning:
      enabled: false

{% if (properties['sourceBucket'] and properties['sourceObjects']) %}
  {% for i in range(properties['sourceObjects']| length) %}
- name: {{ ID }}-copy-{{ properties['sourceObjects'][i]['file'] }}
  action: gcp-types/storage-v1:storage.objects.rewrite
  properties:
    sourceBucket: {{ properties['sourceBucket'] }}
    sourceObject: {{ properties['sourceObjects'][i]['file'] }}
    destinationBucket: $(ref.{{ ID }}-bucket.name)
    destinationObject: {{ properties['sourceObjects'][i]['file'] }}

    {% if properties['sourceObjects'][i]['reader'] %}
- name: {{ ID }}-acl-{{ properties['sourceObjects'][i]['file'] }}
  action: gcp-types/storage-v1:storage.objectAccessControls.insert
  properties:
    bucket: $(ref.{{ ID }}-bucket.name)
    object: {{ properties['sourceObjects'][i]['file'] }}
    entity: user-{{ properties['sourceObjects'][i]['reader'] }}
    role: READER
  metadata:
    dependsOn:
      - {{ ID }}-copy-{{ properties['sourceObjects'][i]['file'] }}
    {% endif %}
  {% endfor %}
{% endif %}

outputs:
  - name: {{ ID }}-bucket-name
    value: $(ref.{{ ID }}-bucket.name)

