# Copyright 2018 Google Inc. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{% set TARGETPOOL = "target-pool-" + env["deployment"] %}
{% set BACKUPPOOL = "backup-target-pool-" + env["deployment"] %}
{% set HEALTHCHECK = "health-check-" + env["deployment"] %}

resources:
- type: gcp-types/compute-v1:targetPools
  name: {{ TARGETPOOL }}
  properties:
    description: integration test target pool
    region: {{ properties["region"] }}
    instances:
      - https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/instances/instance-404
    healthChecks:
      - $(ref.{{ HEALTHCHECK }}.selfLink)
    backupPool: $(ref.{{ BACKUPPOOL }}.selfLink)
    failoverRatio: 0.5
- type: gcp-types/compute-v1:targetPools
  name: {{ BACKUPPOOL }}
  properties:
    description: integration test target pool
    region: {{ properties["region"] }}
    instances:
      - https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/instances/instance-404
    healthChecks:
      - $(ref.{{ HEALTHCHECK }}.selfLink)
- type: gcp-types/compute-v1:httpHealthChecks
  name: {{ HEALTHCHECK }}
  properties:
    host: localhost
    port: 8080
    requestPath: /path/to/my/service
    timeoutSec: 3
    description: integration test http health check
    checkIntervalSec: 3
    unhealthyThreshold: 5
    healthyThreshold: 2
