# Copyright 2016 Google Inc. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{% set NAME_PREFIX = env['deployment'] + '-' + env['name'] %}
{% set CLUSTER_TYPE = env['project'] + '/cluster-' + properties['clusterName'] + '-type-v1beta1-extensions' %}
{% set DAEMONSETS_COLLECTION = '/apis/extensions/v1beta1/namespaces/{namespace}/daemonsets' %}

resources:
- name: {{ NAME_PREFIX }}-ds
  type: "{{ CLUSTER_TYPE }}:{{ DAEMONSETS_COLLECTION }}"
  properties:
    namespace: default
    apiVersion: extensions/v1beta1
    kind: DaemonSet
    metadata:
      name: {{ NAME_PREFIX }}
      labels:
        app: {{ NAME_PREFIX }}
    spec:
      template:
        metadata:
          labels:
            label1: my-label
        spec:
          nodeSelector:
            app: datastore-node
          containers:
          - name: datastore-shard
            image: kubernetes/sharded
            ports:
              - containerPort: 9042
                name: main
