{#
Copyright 2016 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% set HC_NAME = env['name'] + '-hc' %}
{% set TP_NAME = env['name'] + '-tp' %}
{% set FR_NAME = env['name'] + '-fr' %}

resources:
- name: {{ HC_NAME }}
  type: compute.v1.httpHealthCheck
  properties:
    port: {{ properties['port'] }}
    requestPath: /_ah/health
- name: {{ TP_NAME }}
  type: compute.v1.targetPool
  properties:
    region: {{ properties['region'] }}
    healthChecks: [$(ref.{{ HC_NAME }}.selfLink)]
- name: {{ FR_NAME }}
  type: compute.v1.forwardingRule
  properties:
    region: {{ properties['region'] }}
    portRange: {{ properties['port'] }}
    target: $(ref.{{ TP_NAME }}.selfLink)
