# Copyright 2017 Google Inc. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

resources:
  - type: gcp-types/pubsub-v1:projects.topics
    name: {{ properties["topicName"] }}
    properties:
      topic: {{ properties["topicName"] }}
  - type: gcp-types/pubsub-v1:projects.subscriptions
    name: {{ properties["subscriptionName"] }}
    properties:
      subscription: {{ properties["subscriptionName"] }}
      topic: $(ref.{{properties["topicName"]}}.name)

      {% if "messageRetentionDuration" in properties %}
      messageRetentionDuration: {{ properties["messageRetentionDuration"] }}
      {% endif %}
      
      {% if "retainAckedMessages" in properties %}
      retainAckedMessages: {{ properties["retainAckedMessages"] }}
      {% endif %}
      
      {% if "ackDeadlineSeconds" in properties %}
      ackDeadlineSeconds: {{ properties["ackDeadlineSeconds"] }}
      {% endif %}
      
      {% if "expirationPolicy" in properties %}
      expirationPolicy:
        ttl: {{ properties["expirationPolicy"].ttl }}
      {% endif %}
      
  
