# Copyright 2017 Google Inc. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

resources:
  - type: pubsub.v1.topic
    name: {{ properties["topic_name"] }}
    properties:
      topic: my-pubsub-topic
  - type: pubsub.v1.topic
    name: {{ properties["backup_topic_name"] }}
    properties:
      topic: my-backup-topic
  - type: pubsub.v1.subscription
    name: {{ properties["subscription_name"] }}
    properties:
      subscription: my-pubsub-subscription
      topic: $(ref.{{properties["topic_name"]}}.name)
      {% if "ackDeadlineSeconds" in properties %}
      ackDeadlineSeconds: {{ properties["ackDeadlineSeconds"] }}
      {% endif %}

      {% if "messageRetentionDuration" in properties %}
      messageRetentionDuration: {{ properties["messageRetentionDuration"] }}
      {% endif %}
      {% if "retainAckedMessages" in properties %}
      retainAckedMessages: {{ properties["retainAckedMessages"] }}
      {% endif %}

      {% if "deadLetterPolicy" in properties %}
      deadLetterPolicy:
       deadLetterTopic: $(ref.{{properties["backup_topic_name"]}}.name)
       maxDeliveryAttempts: {{ properties["deadLetterPolicy"].maxDeliveryAttempts }}
      {% endif %}

      {% if "retryPolicy" in properties %}
      retryPolicy:
       minimumBackoff: {{ properties["retryPolicy"].minimumBackoff }}
       maximumBackoff: {{ properties["retryPolicy"].maximumBackoff}}
      {% endif %}

      {% if "expirationPolicy" in properties %}
      expirationPolicy:
       ttl: {{ properties["expirationPolicy"].ttl }}
      {% endif %}
      
  - type: pubsub.v1.subscription
    name: {{ properties["backup_subscription_name"] }}
    properties:
      subscription: backup-subscription
      topic: $(ref.{{properties["backup_topic_name"]}}.name)
