{#
Copyright 2016 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% set NAME_PREFIX = env['deployment'].replace("_","-").lower() %}
{% macro diskName(diskObj) -%}{{ NAME_PREFIX }}-disk-{{ diskObj["name"] }}{%- endmacro %}

resources:
{% if properties['static_public_ip'] %}
- name: {{ NAME_PREFIX }}-public
  type: compute.v1.address
  properties:
    name: {{ NAME_PREFIX }}-public
    region: {{ properties['region'] }}
    addressType: EXTERNAL
{% endif %}

{% if properties['static_private_ip'] %}
- name: {{ NAME_PREFIX }}-private
  type: compute.v1.address
  properties:
    name: {{ NAME_PREFIX  }}-private
    region: {{ properties['region'] | lower() }}
    ipVersion: IPV4
    addressType: INTERNAL
    subnetwork: {{ properties['subnetwork'] }}
{% endif %}

{% if properties["data_disk"] is defined %}
{% for diskObj in properties["data_disk"] %}
- name: {{ diskName(diskObj)[0:63] }}
  type: compute.v1.disk
  properties:
    zone: {{ properties["zone"] }}
    sizeGb: {{ diskObj["size"] }}
    type: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/diskTypes/{{ diskObj["disk_type"] }}
{% endfor %}
{% endif %}

- name: {{ NAME_PREFIX }}-dm
  type: compute.v1.instance
  properties:
    name: {{ NAME_PREFIX }}-dm
{% if properties['description'] is defined %}
    description: {{ properties['description'] }}
{% endif %}
{% if properties['tags'] is defined %}
    tags:
      items:
    {% for tag in properties['tags'] %}
      - {{ tag }}
    {% endfor %}
{% endif %}
{%- if METADATA %}
    metadata:
      items:
{%- for key, value in METADATA.items() %}
      - key: {{ key }}
        value: |-
            {{ value | indent(12) }}
{%- endfor %}
{%- endif %}
{% if properties['ip_forward'] is defined %}
    canIpForward: {{ properties['ip_forward'] }}
{% endif %}
    zone: {{ properties['zone'] }}
    machineType: zones/{{ properties['zone'] }}/machineTypes/{{ properties['machine_type'] }}
    disks:
{% if properties['boot_disk'] is defined %}
    - deviceName: {{ properties['boot_disk'].name | default('boot') }}
{% else %}
    - deviceName: boot
{% endif %}
      boot: true
      autoDelete: true
      initializeParams:
{% if properties['boot_disk'] is defined %}
        sourceImage: {{ properties['boot_disk'].image | default('projects/debian-cloud/global/images/family/debian-9') }}
        diskSizeGb: {{ properties['boot_disk'].size | default('50') }}
{% else %}
        sourceImage: 'projects/debian-cloud/global/images/family/debian-9'
        diskSizeGb: 50
{% endif %}
{% if properties["data_disk"] is defined %}
{% for diskObj in properties["data_disk"] %}
    - deviceName: {{ diskName(diskObj)[0:63] }}
      type: PERSISTENT
      source: $(ref.{{ diskName(diskObj) }}.selfLink)
      autoDelete: {{ diskObj.auto_delete | default("true") }}
{% endfor %}
{% endif %}
    networkInterfaces:
        - network: {{ properties["network"] }}
          subnetwork: {{ properties['subnetwork'] }}
{% if properties['public_accessible'] or properties['static_public_ip'] %}
          accessConfigs:
          - name: External IP
{% if properties['static_public_ip'] %}
            natIP: $(ref.{{ NAME_PREFIX }}-public.address)
{% endif %}
{% endif %}
{% if properties["static_private_ip"]  %}
          networkIP: $(ref.{{ NAME_PREFIX }}-private.address)
{% endif %}
    labels:
      template_version: {{ TEMPLATE_VERSION }}
{% if properties['labels'] is defined %}
{% for key, value in properties['labels'].items() %}
      {{ key }}: {{ value }}
{% endfor %}
{% endif %}
{% if properties['deletion_protection'] is defined %}
    deletionProtection: {{ properties['deletion_protection'] }}
{% endif %}
{% if properties['preemptible'] %}
    scheduling:
      preemptible: true
{% endif %}
    serviceAccounts:
    - email: default
      scopes:
        - https://www.googleapis.com/auth/logging.write
        - https://www.googleapis.com/auth/monitoring.write
        - https://www.googleapis.com/auth/trace.append
{% if properties['service_account_scope'] is defined %}
        {% if properties.service_account_scope.sqlservice_admin %}
        - https://www.googleapis.com/auth/sqlservice.admin
        {% endif %}
        {% if properties.service_account_scope.bigquery%}
        - https://www.googleapis.com/auth/bigquery
        {% endif %}
        {% if properties.service_account_scope.bigtable_admin %}
        - https://www.googleapis.com/auth/bigtable.admin
        {% endif %}
        {% if properties.service_account_scope.bigtable_tables_only %}
        - https://www.googleapis.com/auth/bigtable.admin.table
        {% endif %}
        {% if properties.service_account_scope.bigtable_data_read_only %}
        - https://www.googleapis.com/auth/bigtable.data.readonly
        {% endif %}
        {% if properties.service_account_scope.bigtable_data_read_write %}
        - https://www.googleapis.com/auth/bigtable.data
        {% endif %}
        {% if properties.service_account_scope.datastore %}
        - https://www.googleapis.com/auth/datastore
        {% endif %}
        {% if properties.service_account_scope.cloud_debugger %}
        - https://www.googleapis.com/auth/cloud_debugger
        {% endif %}
        {% if properties.service_account_scope.pubsub %}
        - https://www.googleapis.com/auth/pubsub
        {% endif %}
        {% if properties.service_account_scope.cloud_source_repo_read_only %}
        - https://www.googleapis.com/auth/source.read_only
        {% endif %}
        {% if properties.service_account_scope.cloud_source_repo_read_write %}
        - https://www.googleapis.com/auth/source.read_write
        {% endif %}
        {% if properties.service_account_scope.cloud_source_repo_full_control %}
        - https://www.googleapis.com/auth/source.full_control
        {% endif %}
        {% if properties.service_account_scope.compute_read_write %}
        - https://www.googleapis.com/auth/compute
        {% endif %}
        {% if properties.service_account_scope.compute_read_only %}
        - https://www.googleapis.com/auth/compute.readonly
        {% endif %}
        {% if properties.service_account_scope.service_control %}
        - https://www.googleapis.com/auth/servicecontrol
        {% endif %}
        {% if properties.service_account_scope.service_management_read_write %}
        - https://www.googleapis.com/auth/service.management
        {% endif %}
        {% if properties.service_account_scope.service_management_read_only %}
        - https://www.googleapis.com/auth/service.management.readonly
        {% endif %}
        {% if properties.service_account_scope.logging_full_access %}
        - https://www.googleapis.com/auth/logging.admin
        {% endif %}
        {% if properties.service_account_scope.logging_read_only %}
        - https://www.googleapis.com/auth/logging.read
        {% endif %}
        {% if properties.service_account_scope.monitoring_full_access %}
        - https://www.googleapis.com/auth/monitoring
        {% endif %}
        {% if properties.service_account_scope.monitoring_read %}
        - https://www.googleapis.com/auth/monitoring.read
        {% endif %}
        {% if properties.service_account_scope.trace_read_only %}
        - https://www.googleapis.com/auth/trace.readonly
        {% endif %}
        {% if properties.service_account_scope.cloud_storage_read_only %}
        - https://www.googleapis.com/auth/devstorage.read_only
        {% endif %}
        {% if properties.service_account_scope.cloud_storage_read_write %}
        - https://www.googleapis.com/auth/devstorage.read_write
        {% endif %}
        {% if properties.service_account_scope.cloud_storage_write_only %}
        - https://www.googleapis.com/auth/devstorage.write_only
        {% endif %}
        {% if properties.service_account_scope.cloud_storage_full_control %}
        - https://www.googleapis.com/auth/devstorage.full_control
        {% endif %}
        {% if properties.service_account_scope.taskqueue %}
        - https://www.googleapis.com/auth/taskqueue
        {% endif %}
        {% if properties.service_account_scope.user_info_email %}
        - https://www.googleapis.com/auth/userinfo.email
        {% endif %}
{% endif %}
