{#
Copyright 2018 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
    http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% set LB_NAME = env['deployment'] + '-lb' %}
{% set REGION = properties['zones'][0]['zone'][:-2] %}

resources:
{% for deployZone in properties['zones'] %}
{% set zoneName = deployZone['zone'] %}
- name: {{ env['deployment'] }}-service-{{ zoneName }}
  type: service.jinja
  properties:
    currVersion: {{ deployZone['curr'] }}
    targetPool: {{ LB_NAME }}-tp
    minSize: {{ properties['minSize'] }}
    maxSize: {{ properties['maxSize'] }}
    machineType: {{ properties['machineType'] }}
    zone: {{ zoneName }}
{% endfor %}
- name: {{ LB_NAME }}
  type: lb-l3.jinja
  properties:
    port: 8080
    region: {{ REGION }}
