
{% set deployment_name = env['deployment']  %}
{% set instance_name = deployment_name + '-instance'  %}
{% set replica_name = deployment_name + '-replica'  %}
{% set failover_name = deployment_name + '-failover'  %}
{% set database_name = deployment_name + '-db'  %}

resources:
- name: {{ instance_name }}
  type: gcp-types/sqladmin-v1beta4:instances
  properties:
    region: {{ properties['region'] }}  
    settings:
      tier: {{ properties['tier'] }}
      backupConfiguration:
        binaryLogEnabled: true
        enabled: true

- name: {{ database_name }}
  type: gcp-types/sqladmin-v1beta4:databases
  properties:
    name: {{ database_name }}
    instance: $(ref.{{ instance_name }}.name)
    charset: utf8
- name: delete-user-root
  action: gcp-types/sqladmin-v1beta4:sql.users.delete
  metadata:
    runtimePolicy:
    - CREATE
    dependsOn:
    - {{ database_name }}
  properties:
    project: {{ env['project'] }}
    instance: $(ref.{{ env['deployment'] }}-instance.name)
    name: root
    host: "%"
{% set dependency = 'delete-user-root' %}

{% for n in range(properties['readReplicas']) %}
- name: {{ replica_name }}-{{n}}
  type: gcp-types/sqladmin-v1beta4:instances
  metadata:
    dependsOn:
    {% if n == 0 %}
    - delete-user-root
    {% else %}
    - {{ replica_name + '-' + (n-1)|string }}
    {% endif %}
  properties:
    region: {{ properties['region'] }}  
    masterInstanceName: $(ref.{{ instance_name }}.name)
    settings:
      tier: {{ properties['tier'] }}
      replicationType: {{ properties['replicationType'] }}
{% endfor %}

{% if properties['failOver']  %}
- name: {{ failover_name }}
  type: gcp-types/sqladmin-v1beta4:instances
  metadata:
    dependsOn:
    {% if properties['readReplicas'] > 0 %}
    - {{ replica_name + '-' + (properties['readReplicas']-1)|string }}
    {% else %}
    - delete-user-root
    {% endif %}
  properties:
    replicaConfiguration:
      failoverTarget: true
    region: {{ properties['region'] }}
    masterInstanceName: $(ref.{{ instance_name }}.name)
    settings:
      tier: {{ properties['tier'] }}
      replicationType: {{ properties['replicationType'] }}
{% set dependency = failover_name %}
{% endif %}
