resources:
- name: access-level-1-{{ env["deployment"] }}
  type: gcp-types/accesscontextmanager-v1beta:accessPolicies.accessLevels
  properties:
    name: accessPolicies/773340909396/accessLevels/{{ properties["level"] }}
    parent: accessPolicies/773340909396
    title: test-update-access-level-{{ env["deployment"] }}
    description: Sample access level using OS constraints.
    basic:
      conditions:
      - devicePolicy:
          osConstraints:
          - osType: DESKTOP_MAC
            minimumVersion: 10.10.0
