{% set INSTANCE = env["deployment"] + "-instance" %}
{% set CLUSTER = env["deployment"] + "-cluster" %}
{% set CLUSTER2 = env["deployment"] + "-cluster2" %}
{% set TABLE = env["deployment"] + "-table" %}

resources:
- name: {{ INSTANCE }}
  type: bigtableadmin.v2.instance
  properties:
    parent: projects/{{ env["project"] }}
    instanceId: {{ INSTANCE }}
    clusters:
      {{ CLUSTER }}:
        defaultStorageType: HDD
        location: projects/{{ env["project"] }}/locations/{{ properties["zone"] }}
    instance:
      displayName: dm-example-bigtable
      type: DEVELOPMENT
- name: {{ TABLE }}
  type: bigtableadmin.v2.instance.table
  properties:
    parent: $(ref.{{ INSTANCE }}.name)
    tableId: {{ TABLE }}
    table:
      granularity: MILLIS
      columnFamilies: {{ properties["columnFamilies"] }}
