{#
Copyright 2018 Google Inc. All rights reserved.
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

{% set ID = env['deployment'] + '-' + env['name'] %}

{%- macro dbDependencyList(failover='', readReplicas='') -%}
  {% if failover %}
    - {{ ID }}-failover
  {% endif %}
  {% for i in range(readReplicas) %}
    - {{ ID }}-rr-{{ i }}
  {% endfor %}
{%- endmacro %}

{% set dbDeps = dbDependencyList(properties['failover'], 
  properties['readReplicas']) %}

resources:
- name: {{ ID }}-master
  type: sqladmin.v1beta4.instance
  properties:
    backendType: SECOND_GEN
    instanceType: CLOUD_SQL_INSTANCE
    databaseVersion: {{ properties['cloudsql']['databaseVersion'] }}
    region: {{ properties['cloudsql']['region'] }}
    settings:
      tier: {{ properties['cloudsql']['tier'] }}
      dataDiskSizeGb: {{ properties['cloudsql']['dataDiskSizeGb'] }}
      dataDiskType: {{ properties['cloudsql']['dataDiskType'] }}
      storageAutoResize: true
      replicationType: SYNCHRONOUS
      locationPreference:
        zone: {{ properties['cloudsql']['zone'] }}
      {% if properties['databaseFlags'] %}
      databaseFlags: {{ properties['databaseFlags'] }}
      {% endif %}
      activationPolicy: ALWAYS
      backupConfiguration:
        enabled: true
        binaryLogEnabled: true
        startTime: "{{ properties['cloudsql']['backupStartTime'] }}"
      ipConfiguration:
        authorizedNetworks: {{ properties['cloudsql']['authorizedNetworks'] }}

{% if properties['failover'] %}
- name: {{ ID }}-failover
  type: sqladmin.v1beta4.instance
  properties:
    backendType: SECOND_GEN
    instanceType: READ_REPLICA_INSTANCE
    databaseVersion: {{ properties['cloudsql']['databaseVersion'] }}
    region: {{ properties['cloudsql']['region'] }}
    masterInstanceName: $(ref.{{ ID }}-master.name)
    replicaConfiguration:
      failoverTarget: true
    settings:
      tier: {{ properties['cloudsql']['tier'] }}
{% endif %}

{% for i in range(properties['readReplicas']) %}
- name: {{ ID }}-rr-{{ i }}
  type: sqladmin.v1beta4.instance
  properties:
    backendType: SECOND_GEN
    instanceType: READ_REPLICA_INSTANCE
    databaseVersion: {{ properties['cloudsql']['databaseVersion'] }}
    region: {{ properties['cloudsql']['region'] }}
    masterInstanceName: $(ref.{{ ID }}-master.name)
    replicaConfiguration:
      failoverTarget: false
    settings:
      tier: {{ properties['cloudsql']['tier'] }}
  {% if properties['failover'] %}
  metadata:
    dependsOn:
      - {{ ID }}-failover
  {% endif %}
{% endfor %}

{% if properties['database'] %}
- name: {{ ID }}-db
  type: sqladmin.v1beta4.database
  properties:
    name: {{ properties['database']['name'] }}
    instance: $(ref.{{ ID }}-master.name)
    charset: {{ properties['database']['charset'] }}
  metadata:
    dependsOn: 
      {{ dbDeps }}
{% endif %}

{% if properties['dbUser'] %}
- name: {{ ID }}-db-root
  type: sqladmin.v1beta4.user
  properties:
    name: {{ properties['dbUser']['name'] }}
    host:  "{{ properties['dbUser']['host'] }}"
    instance: $(ref.{{ ID }}-master.name)
    password: {{ properties['dbUser']['password'] }}
  metadata:
    dependsOn:
    {% if properties['database'] %}
      - {{ ID }}-db
    {% else %}
      {{ dbDeps }}  
    {% endif %}
{% endif %}

outputs:
  - name: {{ ID }}-master-ip
    value: $(ref.{{ ID }}-master.ipAddresses[0].ipAddress)
  - name: {{ ID }}-master-connectionName
    value: $(ref.{{ ID }}-master.connectionName)
  {% if properties['failover'] %} 
  - name: {{ ID }}-failover-ip
    value: $(ref.{{ ID }}-failover.ipAddresses[0].ipAddress)
  - name: {{ ID }}-failover-connectionName
    value: $(ref.{{ ID }}-failover.connectionName)
  {% endif %}
  {% for i in range(properties['readReplicas']) %}
  - name: {{ ID }}-rr-{{ i }}-ip
    value: $(ref.{{ ID }}-rr-{{ i }}.ipAddresses[0].ipAddress)
  - name: {{ ID }}-rr-{{ i }}-connectionName
    value: $(ref.{{ ID }}-rr-{{ i }}.connectionName)
  {% endfor %}
